#Visual Studio Dateien ignorieren
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
.vs/
Help/_tmphhp/*.html
Help/_tmphhp/*.log
Help/_tmphhp/*.hhp
Help/_tmphhp/*.hhk
Help/_tmphhp/*.hhc
Help/_tmphhp/*.h
Help/_tmphhp/*.txt
